{% extends 'base.html.twig' %}
{% block body %}

    <div>

        <div class="chzn-container">


            <h1>
                Service non disponible, le serveur est temporairement indisponible

            </h1>
            <h2>
                {{ status_code }}- {{ status_text }}

            </h2>

        </div>

    </div>

{% endblock %}